@import url('fire.css');

#text1, #text2, #text3, #text4, #text5, #text6, #text7, #text8, #text9{
  position: absolute;
}

#panel1, #panel2, #panel3, #panel4, #panel5{
  position: relative;
}



#text1{
  width: 360px;
  margin-left: 12%;
}



#panel1{
  /*top:280px;*/
  margin-left: 12%;
}

#begone img{
  width: 120%;
}

.speech img{
  width: 100%;
}

#text2{
  width: 300px;
  top: 350px;
  left: 250px;
}



#panel2{
  /*top: -50px;*/
  left: 100px;
  /*width: 800px;*/
}

#catman img{
  width: 110%;
  opacity: 0;
  -webkit-transition: opacity 2s; /* Safari */
  transition: opacity 2s;
}

#panel3{
  top: -250px;
  left: 600px;
  /*width: 800px;*/
}

#text3{
  text-align: center;
  width: 140px;
  top: 325px;
  left: 910px;
  font-size: 1.4em;
  opacity: 0;
  -webkit-transition: opacity 2s; /* Safari */
  transition: opacity 2s;
}

#up{
  z-index: 50;
}



#text4{
  width: 300px;
  left: 1200px;
  top: 25px;
}

#text5{
  width: 300px;
  left: 1500px;
  top: 335px;
}




#clouds{
  position: absolute;
  left: 1300px;
  top: 50px;
  width: 300px;
}

.sml{
  width: 45%;
  position: relative;
  top: 150px;
  left: -60px;
  z-index: 1;
}

.smr{
  width: 50%;
  position: relative;
  left: 110px;
  top: 175px;
}

.big{
  width: 100%;
  position: relative;
  /*left: -250px;*/
  top:-15px;
  z-index: -1;
  -webkit-transition: opacity .5s 1s;
  transition: opacity .5s 1s;
}

.sm img, .big img{
  width: 100%;
}

#bradcircle{
  position: absolute;
  left: 1300px;
  top: 100px;
  width: 150px;
  height: 150px;

  -webkit-transition: opacity .5s .5s; /* Safari */
  transition: opacity .5s .5s;

  /*background-color: white;*/

/*  border-width: 25px;
  border-style: solid;
  border-color: #FFFFEB;*/
  /*border-radius: 50%;*/

  /*overflow: hidden;*/
}

#bradcircle img{
  width: 90%;
  /*left:-150px;*/
  /*top: -25px;*/
  position: relative;
}

#catcircle{
  position: absolute;
  left: 1580px;
  top: 200px;
  width: 200px;
  height: 200px;

  /*background-color: white;*/
/*
  border-width: 25px;
  border-style: solid;
  border-color: #FFFFEB;*/
  /*border-radius: 50%;*/
  -webkit-transition: opacity .5s .5s; /* Safari */
  transition: opacity .5s .5s;
  overflow: hidden;
}

#poof{
  position: absolute;
  left: 1435px;
  top: 125px;
  width: 150px;
  -webkit-transition: width .5s, opacity .5s .5s, left .5s; /* Safari */
  transition: width .5s, opacity .5s .5s, left .5s;
}

#poof img{
  width: 100%;
}




#newthings{
  opacity: 0;
  -webkit-transition: opacity .5s 1s; 
  transition: opacity .5s 1s;
}

#catmanclouds{
  position: absolute;
  left: 1300px;
  top: 155px;

}

#newclouds{
  position: absolute;
  left: 1300px;
  top: 50px;
  width: 300px;
}

.bigb{
  width: 100%;
  height: 10%;
  position: relative;
  left: 5px;
  top: 190px;

}




#panel3{
  position: absolute;
  left: 1800px;
  top: 0;
}

#speechcat{
  position: absolute;
  left: 1800px;
  top: 10px;
}

#speechcat img{
  width: 10%;
}

#herekitty{
  position: relative;
  top: 215px;
  left: 90px;
}

#ribbons{
  position: relative;
  top: 95px;
  left: 370px;
}

#herekitty img{
  width: 140px;
}

#ribbons img{
  width: 200px;
}




#lastbit{
  position: absolute;
  left: 2350px;
  top: 50px;
  width: 375px;
  padding-right: 100px;
}
#lastbit p{
  padding: 5px;
}

#end{
  position: relative;
  top: 100px;
  left: 350px;
  padding-right: 250px;
}

.end a{
  text-decoration: none;
}

.end p{
  font-size: 7em;
  font-family: 'Bangers', cursive;
  text-decoration: none;
  color: red;
  -webkit-transition: text-shadow 0.5s linear;
  -moz-transition: text-shadow 0.5s linear;
  -ms-transition: text-shadow 0.5s linear;
  -o-transition: text-shadow 0.5s linear;
  transition: text-shadow 0.5s linear;

  -ms-transform: rotate(-8deg); 
  -webkit-transform: rotate(-8deg); 
  transform: rotate(-8deg);

}

.end:hover, .end.glow{
  text-shadow: 3px 3px 13px rgba(255,255,255,0.4);
}
