@import url('fire.css');

#text1, #text2, #text3, #text4, #text5, #text6, #text7, #text8, #text9,
#panel1, #panel2, #panel3, #panel4, #panel5{
  position: relative;
}

#text1{
  width: 360px;
  top: 300px;
  margin-left: 12%;
}

#panel1{
  top:300px;
  margin-left: 12%;
}

#begone img{
  width: 120%;
}

.speech img{
  width: 100%;
}

#text2{
  width: 200px;
  top: -250px;
  left: 550px;
}

#panel2{
  top: -250px;
  left: 600px;
  /*width: 800px;*/
}

#panel3{
  top: -250px;
  left: 600px;
  /*width: 800px;*/
}

#text3{
  width: 200px;
  top: -500px;
  left: 650px;
}

#up{
  z-index: 50;
}