/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
	width: 720px; 
	height: 78px; 
	margin: 0;
	padding: 0;
	text-align: center;
	border: 1px solid #000;
	background: #000; 
	overflow: hidden; 
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
	position: relative;
	left: 0px;
	top: 0px;
	width: 800px;
	text-align: center;
	overflow: hidden;
}
ul.newsticker { /* that's your list */
	position: relative;
	/*left: 750px;*/
	font: bold 10px Verdana;
	list-style-type: none;
	margin: 0;
	padding: 0;


}
ul.newsticker li {
	float: left; /* important: display inline gives incorrect results when you check for elem's width */
	margin: 0;
	padding: 0;
	background: #fff;
	display: inline;
	/*width: 100%;*/
	/*display: inline-block;*/
	/*opacity: 0;
	  -webkit-transition: opacity 2s 2s;
	  -ms-transition: opacity 2s 2s;
	  transition: opacity 2s 2s;*/
}
ul.newsticker p {
	white-space: nowrap;
	padding: 0;
	color: #ff0000;
	font: bold 10px Verdana;
	margin: 0 50px 0 0;
	display: inline-block;
} 
ul.newsticker span {
	margin: 0 50px 0 0;
	/*display: inline-block;*/
} 
