
@import url(http://fonts.googleapis.com/css?family=Bangers);

@import url('../parallax/fonts/animeace.css');

body{
  background-color: rgba(255,255,0,.3);
  background-image: 
  radial-gradient(circle, orange 12%, transparent 10%),
  radial-gradient(circle, grey 12%, transparent 10%),
  radial-gradient(circle, orange 12%, transparent 10%),
  radial-gradient(circle, grey 12%, transparent 10%);
  background-size: 50px 50px;
  background-position: 0 0, 2.5px 2.5px, 25px 25px, 27.5px 27.5;
}

.intro {
  z-index: 11;
  background-color: #fcffb0;
  background-image: 
  radial-gradient(circle, orange 12%, transparent 10%),
  radial-gradient(circle, red 12%, transparent 10%),
  radial-gradient(circle, orange 12%, transparent 10%),
  radial-gradient(circle, red 12%, transparent 10%);
  background-size: 50px 50px;
  background-position: 0 0, 2.5px 2.5px, 25px 25px, 27.5px 27.5;
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.intro img {
  top: 45%;
  position: absolute;
  right: 39%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.intro-button{
  font-family: 'AA Regular', cursive;
  font-size: 1.2em;
  position: absolute;
  right: 47%;
  top: 65%;
  clear: both;
  width: 100px;
  height: 50px;
  background-color: #ffa200;
  border: none;
}

.intro-offscreen{
  visibility: hidden;
  -webkit-transition: 0.55s fade;
  -ms-transition: 0.55s fade;
  transition: 0.55s fade;
}





#wholeshebang{
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  /*margin-left: 2.5%;*/
  overflow: scroll;
  overflow-x: hidden!important;
  overflow-y: hidden!important;/*
  background-color: rgba(0,0,0,.5);
  border-top: 10px solid rgba(0,0,0,.5) ;*/
}
/*background city*/
#anotherdiv{
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 753px;
  background: -webkit-linear-gradient(left top, rgba(255,153,0,0.5) , rgba(255,0,0,1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(255,153,0,0.5), rgba(255,0,0,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(255,153,0,0.5), rgba(255,0,0,1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(255,153,0,0.5) , rgba(255,0,0,1)); /* Standard syntax (must be last) *//*background-size: 100% 100%;*/
  z-index: -1;
}
#aseconddiv{
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/city1.png');
  background-repeat: repeat-x;
  background-size: 100% 50%;
  z-index: -1;
}
#lastone{
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(43,17,3,0) 10%, rgba(43,17,3,1) 40%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, rgba(43,17,3,0) 10%, rgba(43,17,3,1) 40%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, rgba(43,17,3,0) 10%, rgba(43,17,3,1) 40%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgba(43,17,3,0) 10%, rgba(43,17,3,1) 40%); /* Standard syntax (must be last) *//*background-size: 100% 100%;*/
  z-index: -1;
}

.overflow-hidden {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.glowbox {
/*  box-shadow: rgba(0,0,0,.5) 5px 5px;*/
}

.innerglowbox {
  box-shadow: inset 0 0 5px #000000;
  -moz-box-shadow: inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
}

.bgblack {
  background-color: #000;
  color: #fff;
}

.content-img {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
}

.content-img:hover { opacity: 0.65; }

#colwrap{
  white-space: nowrap;
  overflow: visible;
}

#myParallax{
  display: inline-block;
  margin: 0;
  /*margin-left: 10%;*/
}
#myParallax2{
  margin: 0;
  display: inline-block;
}

#borderstuff1{
  border: 2px solid rgba(0,0,0,.2);
  white-space: nowrap;
  display: inline-block;
  margin-left: 20%;
  padding: 0;
}
#borderstuff2{
  border: 2px solid rgba(0,0,0,.2);
  white-space: nowrap;
  display: inline-block;
  margin-right: 12%;
  padding: 0;
}

.outline{
    border: 2px solid rgba(0,0,0,.6);
}

.thickborder{
  border: 25px solid #FFFFEB;
}

img{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#text,#namehere{
  font-family: 'AA Regular', cursive;
  background-color: white;
  border: 2px black solid;
  font-size: 0.9em;
  -webkit-transform: skewX(160deg);
  -ms-transform: skewX(160deg);
  transform: skewX(160deg);
}

p{
  margin: 5px;
}




#arrows{
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#arrowright, #arrowleft{
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 49%;
}

#arrowright{
  text-align: right;
  margin-left: .2%;
}

#arrowright img{
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  width: 15%;
  padding: 15px;
}

#arrowleft img{
  width: 15%;
  padding: 15px;
}





#dynamicstuff{
  z-index: 5;
}




/*breaking news*/
#globe{
  z-index: 1;
  position: absolute;
  left: 0;
  width: 80px;
  background-color: white;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
/*  border-top-right-radius: 40px;
  border-top-right-radius: 40px;*/
  /*border: 1px solid white;*/
  -webkit-transition: width 2s;
  -ms-transition: width 2s;
  transition: width 2s;
}

#globe img{
  width: 80px;
  height: 80px;
  float: right;
  -webkit-animation:spinny 4s linear infinite;
  -moz-animation:spinny 4s linear infinite;
  animation:spinny 4s linear infinite;
}

@-moz-keyframes spinny { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spinny { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spinny { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/*#globe:hover{
  width: 800px;
}*/

#mainbody{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  /*background-color: grey;*/
  -webkit-transition: opacity 2s 2s;
  -ms-transition: opacity 2s 2s;
  transition: opacity 2s 2s;
}

#globetext{
  float: left;
  color: black;
/*  opacity: 0;
  -webkit-transition: opacity 2s 2s;
  -ms-transition: opacity 2s 2s;
  transition: opacity 2s 2s;*/
}





/*tickertape inside the globe*/
.tickercontainer { 
  border: 1px solid #000;
  background: #fff; 
  width: 720px; 
  height: 78px; 
  margin: 0; 
  padding: 0;
  overflow: hidden; 
}

.tickercontainer .mask {
  position: relative;
  left: 10px;
  top: 8px;
  width: 700px;
  overflow: hidden;
}

ul.newsticker { 
  position: relative;
  left: 750px;
  font: bold 10px Courier;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.newsticker li {
  float: left; 
  margin: 0;
  padding: 0;
  background: #fff;
}

ul.newsticker a {
  white-space: nowrap;
  padding: 0;
  color: #ff0000;
  font: bold 10px Bangers;
  margin: 0 50px 0 0;
  text-decoration: none;
} 

ul.newsticker span {
  margin: 0 10px 0 0;
} 


