
@import url('fire2b.css');



.flip-H{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#bubble{
	position: absolute;
  	left: 10px;
  	top: 100px;
  	width:315px;
  	-ms-transform: rotate(-10deg); 
  	-webkit-transform: rotate(-10deg); 
  	transform: rotate(-10deg);
}

#bubble img{
	width: 60%;
}

#lady-fight img{

	width: 60%;
	
}


.exclaim-1 img{
	width: 30%;
	-ms-transform: rotate(15deg); 
  	-webkit-transform: rotate(15deg); 
  	transform: rotate(15deg);

}



#text1, #text2, #text3, #text4, #text5, #text6, #text7, #text8, #text9{
  position: absolute;
}

#text2{
  width: 300px;
  top: 350px;
  left: 250px;
}

#text3{
  text-align: center;
  width: 140px;
  top: 9px;
  left: 910px;
  font-size: 1.4em;
  opacity: 0;
  -webkit-transition: opacity 2s; /* Safari */
  transition: opacity 2s;
}

#text4w{
  width: 300px;
  left: 1200px;
  top: 25px;
}

#speech-panel2{
  position: absolute;
  left: 10px;
  top: 10px;
}




/*

#textpanel-1{
	width: 300px;
  	left: 500px;
}

#panel1, #panel2, #panel3, #panel4, #panel5{
  position: relative;
}*/

