
@import url('fire2b.css');



.flip-H{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#ahh{
	position: absolute;
  	left: 10px;
  	top: 100px;
  	width:315px;
  	-ms-transform: rotate(-10deg); 
  	-webkit-transform: rotate(-10deg); 
  	transform: rotate(-10deg);
}

#ahh img{
	width: 60%;
}

#lady-fight img{

	width: 60%;
	
}

#rawr img{
	
	width: 150px;
}


.exclaim-1 img{
	width: 30%;
	-ms-transform: rotate(15deg); 
  	-webkit-transform: rotate(15deg); 
  	transform: rotate(15deg);

}

#monster-smile img{
	width: 200px;
}



#panel3a,  #panel4a, #panel5a, #text1, #text2a, #text4a, #text5a, #text6a, #monster-text{
  position: absolute;
}


#text2a{
  width: 300px;
  top: 240px;
  left: 250px;
}

#text5a{
  width: 300px;
  left: 1356px;
  top: 0px;

}


#text6a{
  	left: 2160px;
  	top: 260px;
  	width: 300px;
  	padding-right: 150px;
}

#monster-text{
 	width: 300px;
	left: 1835px;
  	top:40px;
}

#panel3a{
  	top: 60px;
  	left: 1335px;
}


#panel4a{
  	top: 60px;
  	left: 1735px;
}

#panel5a{
  	top: 10px;
  	left: 2190px;
  	margin-right: 100px!important;
}




#rawr-bubble{
	position: absolute;
	left: 1275px;
	top: 185px;
	-ms-transform: rotate(-15deg); 
  	-webkit-transform: rotate(-15deg); 
  	transform: rotate(-15deg);
}

#question{
	position: absolute;
	left: 1500px;
	top: 100px;
	-ms-transform: rotate(15deg); 
  	-webkit-transform: rotate(15deg); 
  	transform: rotate(15deg);


}

#question img{
	width: 80px;
}


#question-bubble{
	position: absolute;
	left: 1590px;
	top:35px;
	

}

#question-bubble #isthat img{
	width: 130px;
}

#question-bubble #ohmy img{
	position: absolute;
	width: 200px;
	top: 100px;
	left: -20px;
}


#question2{
	position: absolute;
	left: 2330px;
	top: 140px;
	-ms-transform: rotate(-35deg); 
  	-webkit-transform: rotate(-35deg); 
  	transform: rotate(-35deg);
}

#question2 img{
	width: 70px;
}

#rotate-smoke img{
	-ms-transform: rotate(30deg); 
  	-webkit-transform: rotate(30deg); 
  	transform: rotate(30deg);
}


/*

#textpanel-1{
	width: 300px;
  	left: 500px;
}

#panel1, #panel2, #panel3, #panel4, #panel5{
  position: relative;
}*/

