@import url('fire.css');

#text1, #text2, #text3, #text4, #text5, #text6, #text7, #text8, #text9{
  position: absolute;
}

#panel1, #panel2, #panel3, #panel4, #panel5{
  position: relative;
}



#text1{
  width: 400px;
  margin-left: 12%;
  z-index: 1;
}



#panel1{
  top:15px;
  margin-left: 12%;
}

.speech img{
  width: 45%;
}

#question{
  position: absolute;
  left: 350px;
  top: 265px;
}

#question img{
  width: 60%;
}




#text2{
  width: 225px;
  top: 350px;
  left: 700px;
  font-size: 1.2em;
}



#panel2{
  /*top: -50px;*/
  left: 100px;
  /*width: 800px;*/
}

#panel2 img{
  width: 60%;

  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);

  -webkit-transition: -webkit-transform 2s; /* Safari */
  transition: transform 2s;
}

#moveit img{
  position: relative;
  left: 10px;
  -webkit-transition: left 2s; /* Safari */
  transition: left 2s;
}



#panel3{
  top: -250px;
  left: 600px;
  /*width: 800px;*/
}


#text3{
  text-align: center;
  width: 440px;
  top: 190px;
  left: 930px;

  font-family: Bangers, cursive;
  font-size: 3em;
  color: red;
  text-shadow: 2px 2px rgba(0,0,0,.8);

  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);

  opacity: 0;
  -webkit-transition: opacity 2s; /* Safari */
  transition: opacity 2s;
}



#text4{
  width: 300px;
  left: 950px;
  top: 25px;
}



#panel3{
  position: absolute;
  left: 1525px;
  top: 0;
}


#tears{
  opacity: 0;
  -webkit-transition: opacity 2s; /* Safari */
  transition: opacity 2s;
}

#heart{
  position: absolute;
  left: 1475px;
  top: 225px;

  opacity: 1;
  -webkit-transition: opacity 2s; /* Safari */
  transition: opacity 2s;
}

#brokenheart{
  position: absolute;
  left: 1875px;
  top: 140px;

  opacity: 0;
  -webkit-transition: opacity 2s; /* Safari */
  transition: opacity 2s;
}


#panel4{
  position: absolute;
  left: 2150px;
  top: 0;
}


#flying{
  opacity: 0;
  -webkit-transition: opacity 2s; /* Safari */
  transition: opacity 2s;
}

#flyingspeech{
  opacity: 0;
  -webkit-transition: opacity 2s; /* Safari */
  transition: opacity 2s;
}








#lastbit{
  position: absolute;
  left: 2850px;
  top: 50px;
  width: 375px;
  padding-right: 100px;
}
#lastbit p{
  padding: 5px;
}

#text5{
  position: relative;
}

#yousingle{
  position: relative;
  left: 75px;
  top: -25px;
}

#yousingle img{
  width: 60%;
}

#text6{
  position: relative;
  left: 75px;
  top:-50px;
}

#end{
  position: relative;
  top: -250px;
  left: 350px;
  padding-right: 250px;
}

.end a{
  text-decoration: none;
}

.end p{
  font-size: 7em;
  font-family: 'Bangers', cursive;
  text-decoration: none;
  color: red;
  -webkit-transition: text-shadow 0.5s linear;
  -moz-transition: text-shadow 0.5s linear;
  -ms-transition: text-shadow 0.5s linear;
  -o-transition: text-shadow 0.5s linear;
  transition: text-shadow 0.5s linear;

  -ms-transform: rotate(-8deg); 
  -webkit-transform: rotate(-8deg); 
  transform: rotate(-8deg);

}

.end:hover, .end.glow{
  text-shadow: 3px 3px 13px rgba(255,255,255,0.4);
}
