


@font-face {
    font-family: 'AA Regular';
    src: url('animeace2_reg-webfont.eot');
    src: url('animeace2_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('animeace2_reg-webfont.woff2') format('woff2'),
         url('animeace2_reg-webfont.woff') format('woff'),
         url('animeace2_reg-webfont.ttf') format('truetype'),
         url('animeace2_reg-webfont.svg#anime_ace_2.0_bbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'AA Italic';
    src: url('animeace2_ital-webfont.eot');
    src: url('animeace2_ital-webfont.eot?#iefix') format('embedded-opentype'),
         url('animeace2_ital-webfont.woff2') format('woff2'),
         url('animeace2_ital-webfont.woff') format('woff'),
         url('animeace2_ital-webfont.ttf') format('truetype'),
         url('animeace2_ital-webfont.svg#anime_ace_2.0_bbitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'AA Bold';
    src: url('animeace2_bld-webfont.eot');
    src: url('animeace2_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('animeace2_bld-webfont.woff2') format('woff2'),
         url('animeace2_bld-webfont.woff') format('woff'),
         url('animeace2_bld-webfont.ttf') format('truetype'),
         url('animeace2_bld-webfont.svg#anime_ace_2.0_bbbold') format('svg');
    font-weight: normal;
    font-style: normal;

}